<div class="full-size bg-black">
  <section class="text-center">
    <h2 class="text-white fz-15 fw-30 fw-bold">CHAT WITH AI</h2>
  </section>
  <section #chatContainer class="chat-container">

    <ng-container *ngFor="let msg of message">
      <div *ngIf="msg.sender === 'user'" class="my-text">
        {{ msg.text }}
      </div>
      <div *ngIf="msg.sender === 'ai'" class="chat-input">
        {{ msg.text }}
      </div>
    </ng-container>  
  </section>
  
  <section class="text-center">
    <div class="form-container">
      <form [formGroup]="myForm">
        <input matInput 
               placeholder="Type your message..." 
               class="input-field" 
               formControlName="text" 
               ngModel 
                />
        <button #button mat-raised-button color="primary" type="submit" class="submit-btn" (click)="onSubmit() ">Send</button>
      </form>
      
    </div>
  </section>
</div>
